{% if page.meta.comments %}
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
 <script src="https://giscus.app/client.js"
        data-repo="braxtechnologies/brax-docs"
        data-repo-id="R_kgDOQOaDyA"
        data-category="General"
        data-category-id="DIC_kwDOQOaDyM4Cxkxv"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
