:root  > * {
    --md-primary-fg-color:        #171717;
    --md-primary-fg-color--light: #171717;
    --md-primary-fg-color--dark:  #171717;
    --md-accent-fg-color:        #E65035;
    --md-accent-fg-color--light: #E65035;
    --md-accent-fg-color--dark:  #E65035;
  }